/*

    CSS Guide

    1. Boc Colors
    2. Header
    3. Drop Area
    4. Main Hero Image
    5. Features
    6. Footer

*/

/* 1. ---Box Colors-- */

.box-color {
    background-color: black;
    color: white;
    text-align: center;
}


.box-color2 {
    background-color: #a7a7a7;
    color: white;
    text-align: center;
}



.header-main {
/* background-color: blue; */
height: 70px;
}



.logo2 img {
    width: 350px;
    margin-top: 15px;
}



.catch-bar {
    height: 80px;

}



.puzzle-pieces img {

    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-top: 5px;
 
}



.container22 {
    display: inline-flex;
    
  }
  

 .producth{
    height: 480px;
 }
























/* 1. ---General Styles--- */

body {
    background-color: #43586B;
}





/* 2. ---Header--- */


.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}






/*Tape Supply Rell */

#tape-supply-rell-left {
    height: 300px;
    width: 300px;
    margin-top:80px;
    
}


#tape-supply-rell-right {
    height: 300px;
    width: 300px;
    margin-top: 80px;
    margin-left: -10px;
}


/* SVG ANIMATIONS START HERE */

/* SVG VYNIL DISK ANIMATIONS START HERE */



.wrapper {
    width: 100%;
}

#discreflection {
    animation: disk 0.8s infinite linear;
    transform-origin: 50% 50%;
     display: grid;


  }

     @keyframes disk {
            0% { transform: rotate(0deg);}
            100% { transform: rotate(360deg); }
     }



 #classicmusicmixertext {
        animation: disktext 0.8s infinite linear;
        transform-origin: 50% 50%;
        display: grid;
         fill: white;

      }

         @keyframes disktext {
                0% { transform: rotate(0deg);}
                100% { transform: rotate(360deg); }
         }



#yellowglo {
    animation-name: diskglow;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    @keyframes diskglow {
         0% {
            filter: drop-shadow(0px 0px 1px #fff)
            drop-shadow(0px 0px 3px #fff)
            drop-shadow(0px 0px 10px #ffb380)
            drop-shadow(0px 0px 30px #d0ff4d)
            drop-shadow(0px 0px 50px #fffb00);
            }
}

/* SVG VYNIL DISK ANIMATIONS FINISH HERE */


/*Reset button styles Starts here */
#reset-btn{

	color: rgb(196, 196, 196);
	display: block;
	margin-top: 15px;
	font-size: 1.3em;
	text-decoration: none;
    margin-top: 40px;
}

#reset-btn:hover{
	color: rgb(248, 248, 248);

}

/*Reset button styles Finish here */